USE [Survey]
GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[survey_id] [int] IDENTITY(1,1) NOT NULL,
	[owner_user_id] [int] NOT NULL,
	[topic_id] [int] NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status_code] [varchar](20) NOT NULL,
	[is_anonymous] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[start_at] [datetime2](0) NULL,
	[end_at] [datetime2](0) NULL,
	[cover_image_path] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[survey_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responses]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responses](
	[response_id] [bigint] IDENTITY(1,1) NOT NULL,
	[survey_id] [int] NOT NULL,
	[respondent_id] [uniqueidentifier] NOT NULL,
	[started_at] [datetime2](0) NOT NULL,
	[submitted_at] [datetime2](0) NULL,
	[is_completed]  AS (case when [submitted_at] IS NULL then CONVERT([bit],(0)) else CONVERT([bit],(1)) end) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[response_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_SurveySummary]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SurveySummary]
AS
SELECT 
    s.survey_id,
    s.title,
    s.status_code,
    SUM(CASE WHEN r.is_completed = 1 THEN 1 ELSE 0 END) AS completed_responses,
    MIN(r.started_at)   AS first_started_at,
    MAX(r.submitted_at) AS last_submitted_at
FROM dbo.Surveys s
LEFT JOIN dbo.Responses r ON r.survey_id = s.survey_id
GROUP BY s.survey_id, s.title, s.status_code;
GO
/****** Object:  Table [dbo].[Choices]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choices](
	[choice_id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[order_index] [int] NOT NULL,
	[choice_text] [nvarchar](500) NOT NULL,
	[numeric_value] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[choice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[survey_id] [int] NOT NULL,
	[order_index] [int] NOT NULL,
	[question_text] [nvarchar](max) NOT NULL,
	[question_type] [varchar](20) NOT NULL,
	[is_required] [bit] NOT NULL,
	[min_value] [decimal](10, 2) NULL,
	[max_value] [decimal](10, 2) NULL,
	[max_length] [int] NULL,
	[image_path] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respondents]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respondents](
	[respondent_id] [uniqueidentifier] NOT NULL,
	[user_id] [int] NULL,
	[email] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[respondent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponseDetails]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponseDetails](
	[response_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[response_id] [bigint] NOT NULL,
	[question_id] [int] NOT NULL,
	[choice_id] [int] NULL,
	[answer_text] [nvarchar](max) NULL,
	[answer_number] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[response_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RDetails_Multi] UNIQUE NONCLUSTERED 
(
	[response_id] ASC,
	[question_id] ASC,
	[choice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[topic_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[slug] [varchar](200) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[granted_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/11/2025 02:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Choices] ADD  DEFAULT ((1)) FOR [order_index]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [order_index]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [is_required]
GO
ALTER TABLE [dbo].[Respondents] ADD  DEFAULT (newid()) FOR [respondent_id]
GO
ALTER TABLE [dbo].[Respondents] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Responses] ADD  DEFAULT (sysutcdatetime()) FOR [started_at]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Surveys] ADD  DEFAULT ('draft') FOR [status_code]
GO
ALTER TABLE [dbo].[Surveys] ADD  DEFAULT ((1)) FOR [is_anonymous]
GO
ALTER TABLE [dbo].[Surveys] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Topics] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_granted_at]  DEFAULT (sysutcdatetime()) FOR [granted_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Choices]  WITH CHECK ADD  CONSTRAINT [FK_Choices_Question] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([question_id])
GO
ALTER TABLE [dbo].[Choices] CHECK CONSTRAINT [FK_Choices_Question]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Survey] FOREIGN KEY([survey_id])
REFERENCES [dbo].[Surveys] ([survey_id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Survey]
GO
ALTER TABLE [dbo].[Respondents]  WITH CHECK ADD  CONSTRAINT [FK_Respondents_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Respondents] CHECK CONSTRAINT [FK_Respondents_User]
GO
ALTER TABLE [dbo].[ResponseDetails]  WITH CHECK ADD  CONSTRAINT [FK_RDetails_Choice] FOREIGN KEY([choice_id])
REFERENCES [dbo].[Choices] ([choice_id])
GO
ALTER TABLE [dbo].[ResponseDetails] CHECK CONSTRAINT [FK_RDetails_Choice]
GO
ALTER TABLE [dbo].[ResponseDetails]  WITH CHECK ADD  CONSTRAINT [FK_RDetails_Question] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([question_id])
GO
ALTER TABLE [dbo].[ResponseDetails] CHECK CONSTRAINT [FK_RDetails_Question]
GO
ALTER TABLE [dbo].[ResponseDetails]  WITH CHECK ADD  CONSTRAINT [FK_RDetails_Response] FOREIGN KEY([response_id])
REFERENCES [dbo].[Responses] ([response_id])
GO
ALTER TABLE [dbo].[ResponseDetails] CHECK CONSTRAINT [FK_RDetails_Response]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_Respondent] FOREIGN KEY([respondent_id])
REFERENCES [dbo].[Respondents] ([respondent_id])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_Respondent]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_Survey] FOREIGN KEY([survey_id])
REFERENCES [dbo].[Surveys] ([survey_id])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_Survey]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Owner] FOREIGN KEY([owner_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Owner]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[Topics] ([topic_id])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Topic]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[Choices]  WITH CHECK ADD  CONSTRAINT [CK_Choices_Order] CHECK  (([order_index]>=(1)))
GO
ALTER TABLE [dbo].[Choices] CHECK CONSTRAINT [CK_Choices_Order]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_Order] CHECK  (([order_index]>=(1)))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_Order]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_Range] CHECK  ((([question_type]='nps' OR [question_type]='rating') AND [min_value] IS NOT NULL AND [max_value] IS NOT NULL AND [max_value]>=[min_value] OR NOT ([question_type]='nps' OR [question_type]='rating')))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_Range]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [CK_Surveys_Time] CHECK  (([end_at] IS NULL OR [start_at] IS NULL OR [end_at]>=[start_at]))
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [CK_Surveys_Time]
GO
